body {
    background-color: #FFCC99;
    font-family: Garamond;
    text-align: center;
    display: flex;
    flex-direction: column;
}
header, footer {
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}
nav {
    background-color: MediumSeaGreen;
    word-spacing: 90px;
    padding: 20px;
}
.lewa {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.prawa {
    background-color: MediumSeaGreen;
    width: 30%;
    height: 500px;
    text-align: left;
}
table {
    border: 1px dashed DarkGreen;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 5px;
}
a {
    color: white;
}
ul {
    list-style-type: circle;
}
tr:hover {
    background-color: DarkGreen;
    color: white;
}
main {
    display: flex;
    flex-direction: row;
}
.usun {
    color: white;
    background: none;
    border: none;
    text-decoration: underline;
}